* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.protect {
  width: 960px;
  margin: 0 auto;
  background: linear-gradient(
    90deg,
    rgba(75, 99, 172, 1) 16%,
    rgba(122, 142, 204, 1) 50%,
    rgba(75, 99, 172, 1) 85%
  );
  opacity: 0.8;
  color: white;
}
.introduce {
  width: 960px;
  background: url(./img/img/banner2-2.png) rgba(75, 99, 172, 0.5);
}
.introduce_within {
  overflow: hidden;
  width: 960px;
  height: 114px;
}
.introduce_within h2 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}
.introduce_within p {
  font-size: 12px;
}
.introduce_within p:nth-child(2) {
  margin-top: 10px;
}
.introduce_plate {
  width: 960px;
  overflow: hidden;
  padding-left: 210px;
  height: 70px;
}
.introduce_plate li {
  float: left;
  width: 180px;
  height: 70px;
  border: 1px solid black;
}
.introduce_plate li img {
  width: 34px;
  height: 34px;
}
.about_us {
  width: 960px;
  height: 414px;
  margin: 0 auto;
  border: 1px solid black;
  background: url(./img/img/yuanbn3_04.png);
  background-size: contain;
  padding-top: 30px;
}
