<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .courses {
            width: 1200px;
            margin: 0 auto;
            background: #dddddd;
        }

        .Hiphop {
            width: 100%;
            height: 500px;
            text-align: center;
        }

        .Hiphop h1 {
            margin: 25px 0 0 0;
        }

        .Hiphop ul {
            margin: 0px 0 0 134px
        }

        .Hiphop li {
            width: 300px;
            height: 240px;
            float: left;
            margin: 0 10px;
        }

        .content span {
            display: block;
            width: 300px;
            height: 200px;
        }

        .content span img {
            width: 100%;
            height: 100%;
        }

        .content p {
            height: 40px;
            line-height: 40px;
            position: relative;
            left: 0px;
            color: aliceblue;
            top: -39px;
            background: #000000;
            opacity: 0.5;
        }
    </style>
</head>

<body>
    <div class="courses">
        <div class="Hiphop">
            <h1>街舞</h1>
            <ul>
                <li>
                    <div class="content">
                        <span>
                            <img src="../../static/img/img/1540450714483.png" alt="">
                        </span>
                        <p>哈啊哈哈哈哈哈哈哈哈哈</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <span>
                            <img src="../../static/img/img/1540450714483.png" alt="">
                        </span>
                        <p>哈啊哈哈哈哈哈哈哈哈哈</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <span>
                            <img src="../../static/img/img/1540450714483.png" alt="">
                        </span>
                        <p>哈啊哈哈哈哈哈哈哈哈哈</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <span>
                            <img src="../../static/img/img/1540450714483.png" alt="">
                        </span>
                        <p>哈啊哈哈哈哈哈哈哈哈哈</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <span>
                            <img src="../../static/img/img/1540450714483.png" alt="">
                        </span>
                        <p>哈啊哈哈哈哈哈哈哈哈哈</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <span>
                            <img src="../../static/img/img/1540450714483.png" alt="">
                        </span>
                        <p>哈啊哈哈哈哈哈哈哈哈哈</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="Shaking">
            <h1>震感舞</h1>
            <ul>
                <li>
                    <div class="content">
                        <span>
                            <img src="../../static/img/img/1540450714483.png" alt="">
                        </span>
                        <p>哈啊哈哈哈哈哈哈哈哈哈</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <span>
                            <img src="../../static/img/img/1540450714483.png" alt="">
                        </span>
                        <p>哈啊哈哈哈哈哈哈哈哈哈</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <span>
                            <img src="../../static/img/img/1540450714483.png" alt="">
                        </span>
                        <p>哈啊哈哈哈哈哈哈哈哈哈</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <span>
                            <img src="../../static/img/img/1540450714483.png" alt="">
                        </span>
                        <p>哈啊哈哈哈哈哈哈哈哈哈</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <span>
                            <img src="../../static/img/img/1540450714483.png" alt="">
                        </span>
                        <p>哈啊哈哈哈哈哈哈哈哈哈</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <span>
                            <img src="../../static/img/img/1540450714483.png" alt="">
                        </span>
                        <p>哈啊哈哈哈哈哈哈哈哈哈</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="Lock_dance">
            <h1>锁舞</h1>
            <ul>
                <li>
                    <div class="content">
                        <span>
                            <img src="../../static/img/img/1540450714483.png" alt="">
                        </span>
                        <p>哈啊哈哈哈哈哈哈哈哈哈</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <span>
                            <img src="../../static/img/img/1540450714483.png" alt="">
                        </span>
                        <p>哈啊哈哈哈哈哈哈哈哈哈</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <span>
                            <img src="../../static/img/img/1540450714483.png" alt="">
                        </span>
                        <p>哈啊哈哈哈哈哈哈哈哈哈</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <span>
                            <img src="../../static/img/img/1540450714483.png" alt="">
                        </span>
                        <p>哈啊哈哈哈哈哈哈哈哈哈</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <span>
                            <img src="../../static/img/img/1540450714483.png" alt="">
                        </span>
                        <p>哈啊哈哈哈哈哈哈哈哈哈</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <span>
                            <img src="../../static/img/img/1540450714483.png" alt="">
                        </span>
                        <p>哈啊哈哈哈哈哈哈哈哈哈</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</body>

</html>